
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
}

.maindiv-grid {
    display: grid;
    grid-template-columns: 60px 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 100vh;
}



.grid-child {
    padding: 20px;
}

.grid-child1 {
    background-color: rgb(68, 68, 129);
    grid-column: 1/ -1;
}
.grid-child2 {
    background-color: rgb(186, 186, 245);
}
.grid-child3 {
    background-color: rgb(112, 112, 146);
}
.grid-child4 {
    background-color: rgb(65, 85, 49);
}
.grid-child5 {
    background-color: rgb(173, 179, 161);
}






/*
        SIDEBAR
*/

.sidebar-ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}